<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserRegistrationOTPServlet</servlet-name>
        <servlet-class>com.servlet.UserRegistrationOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistrationSaveServlet</servlet-name>
        <servlet-class>com.servlet.UserRegistrationSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.servlet.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserForgotOTPServlet</servlet-name>
        <servlet-class>com.servlet.UserForgotOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserForgotSaveServlet</servlet-name>
        <servlet-class>com.servlet.UserForgotSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlogServlet</servlet-name>
        <servlet-class>com.servlet.AddBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogServlet</servlet-name>
        <servlet-class>com.servlet.EditBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <servlet-class>com.servlet.DeleteBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileNameUpdateServlet</servlet-name>
        <servlet-class>com.servlet.ProfileNameUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileChangePasswordServlet</servlet-name>
        <servlet-class>com.servlet.ProfileChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileDeleteAccountServlet</servlet-name>
        <servlet-class>com.servlet.ProfileDeleteAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegistrationOTPServlet</servlet-name>
        <url-pattern>/UserRegistrationOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistrationSaveServlet</servlet-name>
        <url-pattern>/UserRegistrationSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserForgotOTPServlet</servlet-name>
        <url-pattern>/UserForgotOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserForgotSaveServlet</servlet-name>
        <url-pattern>/UserForgotSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlogServlet</servlet-name>
        <url-pattern>/AddBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogServlet</servlet-name>
        <url-pattern>/EditBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <url-pattern>/DeleteBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileNameUpdateServlet</servlet-name>
        <url-pattern>/ProfileNameUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileChangePasswordServlet</servlet-name>
        <url-pattern>/ProfileChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileDeleteAccountServlet</servlet-name>
        <url-pattern>/ProfileDeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
